@import './variables.css';

.container .card {
  background-color: var(--color-rose);
  color: var(--color-dark);
  width: auto;
  border: 1px solid var(--color-dark);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-bg {
  background-color: var(--color-bg);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-purple {
  background-color: var(--color-purple);
}

.bg-champagne-pink {
  background-color: var(--color-champagne-pink);
}

.bg-rose {
  background-color: var(--color-rose);
}

.link:hover {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}