:root {
  /* Colours */
  --primary: #f7acc1;
  --color-secondary: #F4ACB7;
  --color-bg: white;
  --color-dark: #0A0903;
  --color-pink: #FFCAD4;
  --color-purple: #fdf2ff;
  --color-rose: #faecf7;

  /* Typography */
  --font-base: 'Inter', sans-serif;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;

  /* Border */
  --border-radius: 6px;
}