/* General Navbar Styles */
.navbar {
  background-color: var(--color-rose); /* Purple background */
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  color: black;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Link Styles */
.nav-link {
  color: #000000; /* White text */
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border: 2px solid transparent;
}

.nav-link:hover {
  background-color: white; 
  color: #6a0dad;
  border-color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-item.active .nav-link {
  background-color: var(--color-rose); 
  color: #6a0dad;
  border-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-link i {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .nav-link {
    width: 100%;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
  }

  .navbar-expand {
    padding: 0.5rem 1rem;
  }
}