/* General Navbar Styles */
.navbar {
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border: 2px solid transparent;
}

.nav-link:hover {
  text-shadow: 0 0 0px #000000, 0 0 0px #000000;
  color: blue;
  text-decoration: underline;
}

.nav-link i {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .nav-link {
    width: 100%;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
  }

  .navbar-expand {
    padding: 0.5rem 1rem;
  }
}